body{
	font-family: Helvetica;
}
h1,h2,h3{
	text-transform: uppercase;
}
.border-img-ogrange{
	border-image: linear-gradient(to right,#FBB03B,#F15B24);
	border-image-slice: 1;
}
.container{
	width: 1300px;
	margin: 0 auto;
	background-image: linear-gradient(-45deg, white 0%,white 80%, orange 80%);
	border: 11px solid orange;
}
.header{
	background: url(img/header-background.JPG) no-repeat;
	background-size: contain, cover;
	height: 300px;
	border-bottom: 11px solid orange;
	}
	.title {
		font-family: Yellowtail;
		color:white;
		display: flex;
		justify-content: center;
	}
		.title h1{
			font-size: 60px;
		}
	.avatar{
		display: flex;
		justify-content: center;
		align-items:center;
		position: relative;
		bottom: 0%;
	}
	.rounded-corners-gradient-borders {
	  width: 250px;
	  height: 250px;
	  border: double 11px transparent;
	  border-radius: 50%;
	  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #FBB03B,#F15B24);
	  background-origin: border-box;
	  background-clip: content-box, border-box;
	}
		.rounded-corners-gradient-borders img
		{
			width: 250px;
			height: 250px;
			border-radius: 50%;
		}
.main{
	margin-top: 160px;
}
	.main-about-me{
		text-align: center;
	}
		.hr-style{
			margin: 5px 60px;
			border-color: #F68C3C;
			border-style: dashed;
			border-width: 1px;
		}
		#hello{
			color:#D18305;
			font-weight: 500;
		}
		#my-job{
			color:#736801;
			font-weight: 500;
			letter-spacing: 4px;
		}
		#my-intro{
			color:#FFAC39;
			width: 400px;
			margin: 0 auto;
			line-height: 30px;
			letter-spacing: 2px;
		}
.more-about-me{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
	.favor{
		text-align: center;
		box-sizing: border-box;
		padding:0 20px;
	}
	.favor-title{
		color:#736801;
		font-family: Yellowtail;
		text-transform: none;
		font-size: 40px;
	}
	.favor h3{
		margin: 20px auto;
	}
	.favor-intro{
		color:#736801;
		letter-spacing: 2px;
		text-align: justify;
		padding: 0 40px;
	}
	.favor-img img{

	}
	.gradient-border{
		margin: 0 auto;
		border: 11px solid transparent;
		width: 288px;
		height: 192px;
		border-image: linear-gradient(to right, #FBB03B,#F15B24);
		border-image-slice: 1;
	}
	.favor-mid{
		border-right: 1px dashed orange;
		border-left: 1px dashed orange;
	}
.footer{
	text-align: center;
}
	.footer h2{
		color: #736801;
		font-weight: 500;
	}
	.footer ul{
		padding:0;
		list-style: none;
	}
	.footer li{
		margin: 0 auto;
		display: inline-block;
		font-size: 40px;
		width: 70px;
	}
	.footer i{
		color: orange;
	}
	.footer i:hover{
		color:green;
	}
